@model IEnumerable<MVCMusicStoreApplication.Models.Genre>

@{
    ViewBag.Title = "Browse";
}


<div>
    <h2>Browse By Genre</h2>
    <div class="panel-body">
        <ul>
            @foreach (var item in Model)
            {
                <li>@Html.ActionLink(@item.Name, "Index", new { id = item.GenreId })</li>
            }
        </ul>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
